
            <footer class="row-wrapper">

                <div class="row">

                    <div class="column column-50">
                        Hosted by <a href="https://pages.github.com/">Github Pages</a>
                    </div><!-- .column -->

                    <div class="column column-50">
                        <a href="https://github.com/prichmp/Write-Forward">Fork this on Github!</a>
                    </div><!-- .column -->

                </div><!-- .row -->

            </footer>

        </div><!-- #all -->

        <!-- End of body Javascript  -->
        <!-- ======================================================================================= -->
        <!-- Syntax Highlighting init -->
        <script>
          hljs.initHighlightingOnLoad();
        </script>
        <!-- Google Analytics -->
        <script>

        </script>
