
            <footer class="row-wrapper">

                <div class="row">

                    <div class="column column-50">
                        Hosted by <a href="https://pages.github.com/">Github Pages</a>
                    </div><!-- .column -->

                    <div class="column column-50">
                        <a href="https://github.com/prichmp/Write-Forward">Fork this on Github!</a>
                    </div><!-- .column -->

                </div><!-- .row -->

            </footer>

        </div><!-- #all -->

        <!-- End of body Javascript  -->
        <!-- ======================================================================================= -->
        <!-- Syntax Highlighting init -->
        <script>
          hljs.initHighlightingOnLoad();
        </script>
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-65868145-2', 'auto');
          ga('send', 'pageview');
        </script>
