<div id="all">

    <header class="row-wrapper">

        <div class="row">

                <div class="column column-20">
                    <div class="logo"><a class="site-title" href="{{ site.baseurl | prepend:site.url }}/">{{ site.title }}</a></div>
                </div><!-- .column -->

                <div id="nav-col" class="column column-80">
                    <nav>
                      <ul>
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="/documentation.html">Documentation</a></li>
                        <li><a href="/download.html">Download</a></li>
                        <li><a href="//github.com/prichmp/Write-Forward">GitHub</a></li>
                      </ul>
                    </nav>
                </div><!-- .column -->

        </div><!-- .row -->

    </header>
